@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --black-text-rgb: 21, 21, 21;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 222, 222, 222;
    --background-end-rgb: 188, 188, 188;
  }
}

body {
  color: rgb(var(--black-text-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.red-color-bt {
  background-color: crimson;
}
.red-color-bt:hover {
  background-color: rgb(124, 12, 49);
}
.green-color-bt {
  background-color: rgb(0, 107, 57);
}
.green-color-bt:hover {
  background-color: rgb(0, 71, 38);
}
.blue-color-bt {
  background-color: rgb(4, 29, 143);
}
.blue-color-bt:hover {
  background-color: rgb(2, 19, 94);
}
.lime-color-bt {
  background-color: rgb(103, 163, 6);
}
.lime-color-bt:hover {
  background-color: rgb(53, 107, 2);
}
.black-color-bt {
  background-color: rgb(41, 41, 41);
}
.black-color-bt:hover {
  background-color: rgb(0, 0, 0);
}
.yellow-color-bt {
  background-color: rgb(171, 173, 5);
}
.yellow-color-bt:hover {
  background-color: rgb(90, 92, 2);
}
.sky-color-bt {
  background-color: rgb(87, 135, 150);
}
.sky-color-bt:hover {
  background-color: rgb(45, 76, 85);
}
.malinka-color-bt {
  background-color: rgb(172, 44, 129);
}
.malinka-color-bt:hover {
  background-color: rgb(92, 22, 69);
}
.violet-color-bt {
  background-color: rgb(99, 33, 138);
}
.violet-color-bt:hover {
  background-color: rgb(64, 22, 88);
}
.brow-color-bt {
  background-color: rgb(109, 67, 19);
}
.brow-color-bt:hover {
  background-color: rgb(63, 39, 11);
}
